NODE_ENV=development
PORT=3001

MONGODB_URI=mongodb://127.0.0.1:27017/uno
REDIS_URL=redis://127.0.0.1:6379

# طول عمر توکن بازیکن (ثانیه)
PLAYER_TOKEN_TTL_SEC=86400

JWT_SECRET=change-me-at-least-16-chars
JWT_EXPIRES_IN_SEC=604800
BCRYPT_COST=11
