/node_modules
/dist
.env
# /package-lock.json
# /package.json
# /tsconfig.json
# /tsconfig.node.json
# /tsconfig.app.json
# /tsconfig.spec.json
# /tsconfig.json
# /tsconfig.node.json
# /tsconfig.app.json
# /tsconfig.spec.json